.campaign-container {
  margin: 2rem 0;
  text-align: end;

  .paper {
    margin: 1.5rem 0;
    text-align: left;
    .sub-campaign-info {
      display: flex;
      justify-content: left;
      gap: 1rem;
      overflow-x: auto;
      height: 150px;
      .add-icon-btn {
        min-width: 48px;
        box-shadow: none;
      }
    }
    .title-of-list {
      font-size: 1.3rem;
      margin: 1.5rem 0;
    }
  }
}
