@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

.active-card {
  border: 1px solid #1976d2;
}

.tab-panel-card {
  min-width: 210px;
  height: 120px;
  cursor: pointer;
}
